<link href="//fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">




               
<div class="container-fluid site-container">
    <header class="row header-row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-lg-offset-1 header-logo-col">
        <h3 class="site-logo header-logo">
            Moose    
          </h3>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-6 col-md-4 col-md-offset-6 col-lg-3 col-lg-offset-5 company-information header-contacts-col">
        <p class="header-contacts header-contacts_tel"><img class="header-contacts__img" src="../assets/img/phone-ico.png" alt="">0535 954 74 54</p>
        <p class="header-contacts header-contacts_email"><img class="header-contacts__img" src="../assets/img/email-ico.png" alt="">email@moose.com</p>
      </div>
    </header>

    <div class="row header-nav-row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1 header-menu header-nav-menu-col">
        <nav class="navbar navbar-default navbar-static-top header-nav-menu" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="navbar-nav__element"><a class="navbar-nav__href" href="#">Home</a></li>
              <li class="navbar-nav__element"><a class="navbar-nav__href" href="#">Portfolio</a></li>
              <li class="navbar-nav__element"><a class="navbar-nav__href" href="#">About</a></li>
              <li class="navbar-nav__element"><a class="navbar-nav__href" href="#">Service</a></li>
              <li class="navbar-nav__element"><a class="navbar-nav__href" href="#">Journal</a></li>
              <li class="navbar-nav__element"><a class="navbar-nav__href" href="#">Features</a></li>
              <li class="navbar-nav__element"><a class="navbar-nav__href" href="#">Contact</a></li>
            </ul>
            <div class="nav navbar-nav navbar-nav-social">
              <a class="navbar-nav-social__href" href="#"><img class="navbar-nav-social__img" alt="RSS" src="../assets/img/rssico.png"></a>
              <a class="navbar-nav-social__href" href="#"><img class="navbar-nav-social__img" alt="Facebook" src="../assets/img/facebookico.png"></a>
              <a class="navbar-nav-social__href" href="#"><img class="navbar-nav-social__img" alt="Twitter" src="../assets/img/twitterico.png"></a>
              <a class="navbar-nav-social__href" href="#"><img class="navbar-nav-social__img" alt="Dribble" src="../assets/img/dribble-ico.png"></a>
              <a class="navbar-nav-social__href" href="#"><img class="navbar-nav-social__img" alt="Pinterest" src="../assets/img/pinterest-ico.png"></a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  
    <section class="row carousel-row">
      <div class="carousel slide" id="carousel-241576">
        <div class="carousel-inner">
          <div class="item active carousel-item">
            <img class="carousel-item__img" alt="Carousel Bootstrap First" src="../assets/img/slider.jpg">
            <div class="carousel-caption carousel-item__caption">
              <h3 class="text-center carousel-item__header-top">
                  Moose bring awesomemeness
                </h3>
              <h4 class="carousel-item__header-bottom">
                  A responsive template with clean and professional design
                </h4>
              <button type="button" class="btn btn-danger btn-default carousel-item__btn">
                SEE PROJECT
              </button>
            </div>
          </div>
          <div class="item carousel-item">
            <img class="carousel-item__img" alt="Carousel Bootstrap Second" src="../assets/img/slider2.jpg">
            <div class="carousel-caption carousel-item__caption">
              <h3 class="text-center carousel-item__header-top">
                  Moose bring sharpness
                </h3>
              <h4 class="carousel-item__header-bottom">
                  Accuracy and precision in details
                </h4>
              <button type="button" class="btn btn-danger btn-default carousel-item__btn">
                SEE PROJECT
              </button>
            </div>
          </div>
        </div>
        <a class="left carousel-control carousel-control_left" href="#carousel-241576" data-slide="prev"></a>
        <a class="right carousel-control carousel-control_right" href="#carousel-241576" data-slide="next"></a>
      </div>
    </section>

    <main class="row services-row services-block">
      <div class="col-sm-12 col-md-12">

        <header><h2>
            <span>Creativity</span> is important for us
          </h2>
          </header>
        <p>
          Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula eget lacinia odio nec elit.
        </p>


        <div class="col-xs-offset-1 col-sm-offset-3 col-md-offset-2 row">


          <div class="col-sm-3 col-md-2 thumbnail" id="services-1">
            Interface Design
          </div>
          <div class="col-sm-4 col-md-2 thumbnail" id="services-2">Motion Graphic
          </div>
          <div class="col-sm-3 col-md-2 thumbnail" id="services-3">
            Photography
          </div>
          <div class="col-sm-4 col-md-2 thumbnail" id="services-4">
            Illustration
          </div>
        </div>
      </div>
    </main>

    <section class="row portfolio-row">
      <div class="row portfolio-block">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <header><h3>
              <span>Latest Projects | </span> making stuff is awesome
            </h3></header>
          <ul>
            <li>All</li>
            <li>Web desıgn</li>
            <li>Graphics</li>
            <li>Video</li>
            <li>Illustration</li>
            <li>Audio</li>
          </ul>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
          <img src="../assets/img/thumb1.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
          <img src="../assets/img/thumb2.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
          <img src="../assets/img/thumb3.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
          <img src="../assets/img/thumb4.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
          <img src="../assets/img/thumb5.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
          <img src="../assets/img/thumb6.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
          <img src="../assets/img/thumb7.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
          <img src="../assets/img/thumb8.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
          <img src="../assets/img/thumb9.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
          <img src="../assets/img/thumb10.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
          <img src="../assets/img/thumb11.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
          <img src="../assets/img/thumb12.jpg" alt="" class="col-md-3 col-sm-4 col-xs-6">
        </div>
      </div>
    </section>
  

    <section class="row blog-row latest-blog">
      <header> <h2>Our latest blog</h2>
      <h5>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis 
          parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus facilisis egestas eget quam.</h5>
      </header>
      <div id="latest-blog-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider1.jpg" alt="Thumb11">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider2.jpg" alt="Thumb12">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider3.jpg" alt="Thumb13">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider4.jpg" alt="Thumb14">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider1.jpg" alt="Thumb21">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider2.jpg" alt="Thumb22">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider3.jpg" alt="Thumb23">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider4.jpg" alt="Thumb24">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider1.jpg" alt="Thumb31">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider2.jpg" alt="Thumb32">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider3.jpg" alt="Thumb33">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img class="img-responsive" src="../assets/img/last_slider4.jpg" alt="Thumb34">
                  <h4>Tortor Ullamcorper Fringilla Euismod</h4>
                  <p>21 may 2013 | Macro, photography</p>
                </a>
              </div>
            </div>

          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#latest-blog-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#latest-blog-carousel" data-slide-to="1"></li>
          <li data-target="#latest-blog-carousel" data-slide-to="2"></li>
        </ol>
        <a class="left carousel-control" href="#latest-blog-carousel" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
        <a class="right carousel-control" href="#latest-blog-carousel" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
      </div>
    </section>
  
    <section class="row about-row about-us">
      <article class="col-sm-6 col-md-3 col-lg-2 col-lg-offset-2">
        <header><h2>
            Get In Touch
          </h2></header>
        <p>
          Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna.
        </p>
        <p>
          Moonshine Street No: 14/05 Light City, Jupiter 0247 541 65 87 support@longwave.com
        </p>
      </article>
      <div class="col-sm-5 col-md-3 col-lg-2">
        <header><h2>
            Twitter
          </h2></header>
        <p>
          Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringilla. Nullam quis risus eget. Vestibulum id ligula porta euismod semper. Maecenas faucibus mollis.
        </p>
      </div>
      <div class="col-sm-6  col-md-3 col-lg-2">
        <header><h2>
            Popular Posts
          </h2></header>
        <p>
          Vivamus sagittis lacus vel augue laoreet rutrum dolor auctor. 14 Nov, 2012
        </p>
        <p>
          Scelerisque nisl consectetur et. 22 May, 2012
        </p>
        <p>
          Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusc 15 July, 2012
        </p>
      </div>
      <div class="col-sm-6  col-md-3 col-lg-2">
        <header><h2>
            About Us
          </h2></header>
        <p>
          Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus curabitur blandit tempus.
        </p>
      </div>
    </section>
  
    <footer class="row footer-row">
      <div class="col-lg-offset-2">© 2013 Marble. All rights reserved.</div>
    </footer>
  </div>


<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bundle.js" charset="utf-8"></script>
<script>
  $('#myCarousel').carousel({
    interval: 5000
  });
</script>